


<app-nav></app-nav>
<div class="container">
<router-outlet />
</div>

<!-- <p>{{today | date:'dd-MM-YYYY'}}</p>
<p>{{title | uppercase}}</p>

<p [title] = "para">{{para | slice:0:40}}</p>
<h1>{{money | currencyConvert}}</h1>

<!-- <h1>Hello</h1>
{{title}} -->

<!-- <h2>{{c}}</h2>
<button (click)="cnt()">+1</button>
<button  class = "btn btn-success" (click)="cntd()">-1</button>
<hr> -->

<!-- <input type="text" placeholder="enter data" [(ngModel)] = "Myname">
@for(p of filProduct; track p){
    <div>
       <p >{{p.login | uppercase}}</p>
       <img [src]="p.avatar_url" [alt]="p.login" 
       [style.height.px]="200">
       <div [style.backgroundColor] = "'red'">hello</div>
       <br>
       <p>{{p.price | currency:'EUR'}}</p>
       <button (click)="addCart($event,p)">Addcart</button>
    </div>
   
} -->

<!-- <button (click) = "toggled()" class="btn btn-primary">Toggle</button>
<div *ngIf = "show">
    <p>Welcome All</p>
</div>
<hr> -->

<!-- 
<table class="table table-bordered" >
     <tr *ngFor = "let x of product" style="text-align: center;padding: 10px">
    
        <td> {{x.id}} </td>
        <td>{{x.login}}</td>
        <td><a href={{x.html_url}}>Open</a> </td>
        <td> {{x.price}}</td>
        <td><img src={{x.avatar_url}} alt="" width="400px" height="200px"></td>
     </tr>
</table> -->

<!-- <hr>
<hr>
<app-regform></app-regform>
<hr> -->



<!-- <app-dir1></app-dir1> -->